<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- ===================================================================== -->
<!-- Log4j Configuration -->
<!-- ===================================================================== -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">
	<!-- ================= Appenders ================= -->
	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %d %c %x- %m%n" />
		</layout>
	</appender>

	<appender name="FileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="DEBUG" />
		<!-- Asi se hace para tomcat y se agrega la variable -Dlog4j.configuration="log4j.xml -->
<!-- 		<param name="file" value="${catalina.home}/logs/basicWebApp.log" /> -->
		<param name="file" value="${jboss.server.log.dir}/SpringWebApp.log" />
		<param name="append" value="true" />
		<param name="MaxFileSize" value="5000KB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %d %c[%l] %x- %m%n" />
		</layout>
	</appender>

<!-- 	<category name="com.training"> -->
<!-- 		<level value="DEBUG" /> -->
<!-- 		<appender-ref ref="FileAppender" /> -->
<!-- 	</category> -->

	<logger name="com.training.architecture.java.basicwebapp" additivity="true">>
		<level value="debug"></level>
		<appender-ref ref="ConsoleAppender"></appender-ref>
	</logger>
	
	<logger name="com.training.architecture.java.basicwebapp.file" additivity="true">>
		<level value="debug"></level>
		<appender-ref ref="FileAppender"></appender-ref>
	</logger>
	
	<root>
		<priority value="DEBUG" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="FileAppender" />
	</root>
</log4j:configuration>
